@model Skill

<form method="post" asp-action="Create">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text"/>
        <span asp-validation-for="Name"></span>
    </div>
    <br />
    <div class="row">
        <button type="submit" class="btn btn-primary col-3 m-2">Save</button>
        <a asp-action="Index" class="row btn btn-secondary col-3 m-2">Back to Skills</a>
    </div>
</form>