@model Skill

<h2>Edit Skill</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id"/>
    <div>
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <br />
        <div>
            <label asp-for="IsActive"></label>
            <input asp-for="IsActive" />
            <span asp-validation-for="IsActive"></span>
        </div>
        <br />
        <div class="row">
        <button type="submit" class="p-1 btn btn-primary col-3 m-2">Edit</button>
        <a asp-action="Index" class="btn btn-secondary col-3 m-2">Back to Skills</a>

    </div>
</form>