@model IEnumerable<EmployeeSkillProjectAllocationSystem.Models.Skill>


<h2>Skills</h2>
<div class="row">
    <a asp-action="Create" class="btn btn-primary col-2 m-2">Add a Skill</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                isActive
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var skill in Model)
        {
            <tr>
                <td>@skill.Id</td>
                <td>@skill.Name</td>
                <td>@skill.IsActive</td>
                <td><a asp-action="Edit" asp-route-id="@skill.Id">Edit</a></td>
            </tr>
        }
    </tbody>
    
</table>