@model Project

<h2>Create Project</h2>

<form asp-action="Create" method="post">
    <div>
        <br />
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" />
            <span asp-validation-for="Name"></span>
        </div>
        <br />
        <br />
        <div class="row">
            <button type="submit" class="btn btn-primary col-2 m-2">Save</button>
            <a asp-action="Index" class="btn btn-secondary m-2 col-2">Back to Projects</a>
        </div>
        
    </div>
    <div asp-validation-summary="All"></div>
</form>